extends authlayout

block content
    h1= title
    form(action='/register', method='POST')
        p
            | email:
            input(name='email', value='', type='email')
            |          password:
            input(name='password', value='', type='password')
        input(value='Submit', type='submit')
