extends layout

block content
    h1= title
    a(href='/tasks/create') Create A Task
    #user
        each val in tasks
            pre= "-" + val.content
            h3= val.date
            a(href='/tasks/edit/' + val._id) Update
            form(action='/'+val._id+'?_method=DELETE', method='POST')
                input(value='Delete', type='submit')

